{% extends "base.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-lg-4">
            <h2>LIST OF TASKS</h2>
        </div>
        <div class="col-lg-4">
            <a href="{{ '/tasks/low' | env }}" class="btn btn-success center" role="button">LOW</a>
            <a href="{{ '/tasks/medium' | env }}" class="btn btn-info" role="button">MEDIUM</a>
            <a href="{{ '/tasks/high' | env }}" class="btn btn-danger" role="button">HIGH</a>
            <a href="{{ '/tasks' | env }}" class="btn btn-primary" role="button">RESET</a>
        </div>
        <div class="col-lg-4">
            <a href="{{ '/tasks/new' | env }}" class="btn btn-success pull-right" role="button">CREATE NEW TASK</a>
        </div>
    </div>
    <br>
    {% for task in tasks %}
        {% if task.priority == 'low' %}
            <div class="panel panel-success">
        {% elseif task.priority == 'medium' %}
            <div class="panel panel-info">
        {% elseif task.priority == 'high' %}
            <div class="panel panel-danger">
        {% endif %}
            <div class="panel-heading">
                <a href="{{ ('/tasks/' ~ task.id) | env }}"> {{ task.name }}</a>
            </div>
            <div class="panel-body">
                {{ task.description }}
            </div>
        </div>
    {% endfor %}
{% endblock %}